
/*Game.html*/
#gamebg {
    background-color: lightgray;
}

#intro {
  display: flex;
  justify-content: space-between;
}

.prefix {
    text-align: center;
    font-size: 1rem;
}

#counter, #score {
    text-align: center;
}

.question-holder {
    height: 10rem;
    display: flex;
    text-align: center;
    align-items: center;
}

.answer-container {
    display: flex;
    flex-direction: initial;
    margin-bottom: 0.5rem;
    font-size: 1.5rem;
}

.answer-prefix {
    background-color:lightseagreen;
    color: white;
    padding: 1.5rem 2.5rem;
    margin: 0;
}

.answer-text {
    padding: 1.5rem;
    width:100%;
    margin: 0;
}

.answer-container:hover {
    cursor: pointer;
    box-shadow: 0 0.4rem 1.4rem 0 rgba(58, 124, 207, 1);

    transform: translateY(-0.1rem);
    transition: transform 200ms;
}

.correct {
    background-color: lightgreen;
}

.incorrect {
    background-color: lightpink;
    transform: translateX(0.2rem);
    transition: 250ms;
}

/*Endgame.html*/
#end {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.end-form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 30rem;
}

input {
    margin-bottom: 1rem;
    width: 20rem;
    padding: 1.5rem;
    font-size: 1.8rem;
    border: none;
    box-shadow: 0 0.4rem 1.4rem 0 rgba(58, 124, 207, 1);    
}

input::placeholder {
    color: #aaa;
}

#username {
    margin-bottom: 3rem;
    width: 100%;
    outline: none;
}

#end-text {
    font-size: 2.4rem;
    color: black;
    text-align: center;
}

#saveScore {
    border: none;    
}

.fa-home {
    margin-left: 1rem;
    font-size: 2.5rem;
}